@charset "UTF-8";
/* reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
ul,
ol,
li,
dt,
dd,
img,
form,
table,
tr,
th,
td {
  border: none;
  font-size: 100%;
  list-style-type: none;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}

textarea {
  font-size: 100%;
  vertical-align: middle;
}

hr {
  display: none;
}

em {
  font-style: normal;
}

input {
  line-height: auto;
  vertical-align: middle;
}

strong.more {
  color: #c30;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  margin: 0;
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  overflow-x: 0;
  width: 100%;
}

* {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* 上の部分は気にせずここから書く */
/*body
----------*/
html {
  overflow-x: hidden;
}

body {
  display: block;
  width: 100%;
  overflow-x: hidden;
  background-color: #eaeaea;
}

main {
  margin: 80px 0 60px;
}

.motion {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 4;
  position: fixed;
  top: 0;
  transition: all .5s ease;
}

#overlay {
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

#signin_box {
  z-index: 999;
  margin-top: 50vh;
  opacity: 0;
  width: 40%;
  background-color: white;
  border-radius: 12px;
}

#signin_box h2 {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}

#signin_box dl {
  padding: 20px;
}

#signin_box dl.sns {
  border-width: 90%;
  border-top: 1px solid #ccc;
}

#signin_box dd {
  padding: 5px 0;
}

#signin_box dd input {
  width: 100%;
  font-size: 1.2rem;
  padding: 10px 2.5px;
  border-radius: 8px;
  border: 1px solid #aaa;
}

#signin_box dd button {
  color: white;
  background-color: #d70466;
  width: 100%;
  font-size: 1.2rem;
  padding: 10px 2.5px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

#signin_box .sns dd button {
  color: black;
  background-color: white;
  width: 100%;
  font-size: 1.2rem;
  padding: 10px 2.5px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

#signin_box .sns dd img {
  width: 1.5rem;
}

.alert {
  position: relative;
  top: 0;
  z-index: 1;
  background-color: black;
  width: 100%;
  text-align: center;
  padding: 18px;
  color: white;
  font-size: 14px;
  margin: 0;
}

.alert a {
  text-decoration: underline;
  color: white;
}

.alert a:hover {
  opacity: 0.9;
}

section {
  margin: 40px 0;
  padding: 0 5%;
  background-color: #eaeaea;
}

section h2 {
  font-size: 32px;
  font-weight: bold;
}

section p {
  font-size: 14px;
  font-weight: 900;
}

/*header
-----------*/
header {
  background-image: url(../cafe/img/eyecatch.jpg);
  position: relative;
  width: 100%;
  min-height: 680px;
  background-size: cover;
  background-position: center;
}

header .concept-nav {
  position: relative;
  top: 0;
  margin: auto;
  width: 100%;
  padding: 0 5%;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  color: white;
  transition: all .5s ease;
}

header .concept-nav .header-img {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  text-align: left;
  list-style-type: none;
  border-collapse: collapse;
  vertical-align: middle;
}

header .concept-nav .g_nav {
  flex: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 50px;
  margin: 0 auto;
}

header .concept-nav .g_nav .menu {
  padding: 0 25px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

header .concept-nav .sign {
  flex: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  line-height: 50px;
}

.concept {
  width: 90%;
  margin: 0 auto;
  position: absolute;
  top: 250px;
  left: 5%;
  color: white;
  font-size: 64px;
  line-height: 64px;
  font-weight: bold;
}

/*modal
---------------*/
.modal {
  display: none;
  border: 1px solid #dddddd;
  padding: 20px;
  width: 400px;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal_title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #333333;
}

.modal_text {
  font-size: 12px;
  color: #404040;
}

.modal.show {
  display: block;
}

.modal.show .sns {
  border-top: 1px solid #ccc;
}

/*cafe
-------------*/
.cafe_intro {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.cafe_intro .box {
  padding: 10px 0;
}

.cafe_intro .info {
  display: flex;
  justify-content: flex-start;
}

.img-flex4 {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
}

.location_img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.box {
  flex-wrap: wrap;
  width: 100%;
}

.box-img {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  margin: 20px;
}

.access {
  width: 150px;
}

/*goto
------------*/
#location {
  width: 100%;
  background-color: #fff;
}

.goto {
  min-height: 450px;
}

.goto .goto_text {
  position: relative;
  top: 150px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
  z-index: 3;
}

.goto .goto_text h3 {
  font-size: 42px;
  font-weight: bold;
  color: black;
}

.goto .goto_text p {
  font-size: 18px;
  font-weight: 100;
  color: black;
}

.goto .goto_img {
  position: relative;
  top: 0;
  width: 100%;
  border-radius: 16px;
  margin: 0;
  z-index: 2;
}

/*photo
-------------*/
.cafe_local {
  display: inline-block;
  /* インラインブロック要素にする */
  background-color: #ccc;
}

/*cafe companion
-------------*/
.bg_black {
  background-color: black;
  color: white;
  padding: 40px 5%;
}

.cafe_exp {
  margin: 15px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
}

.cafe_exp .text {
  font-size: 18px;
  font-weight: bold;
}

.cafe_exp img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/*bg_white
--------------*/
.host {
  background: #fff;
}

.host .cafe_host {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
}

.host .cafe_host .cafe_img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/*footer
---------------*/
footer {
  border-top: 1px solid #ddd;
  background-color: #f7f7f7;
  padding: 4% 0;
}

.outer {
  text-align: left;
  width: 90%;
  margin: auto;
  font-size: 0.9rem;
}

.outer .nav_area {
  display: flex;
  width: 100%;
  margin: 0px 5px 10px 10px;
}

.outer .inner {
  flex: auto;
}

.outer .inner h2 {
  font-weight: bold;
}

.outer .inner a {
  color: #333;
  text-decoration: none;
}

.outer .inner li {
  margin: 1rem 0;
}

.jump {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 3rem;
  line-height: 3rem;
  color: white;
  text-align: center;
  cursor: pointer;
  background-color: black;
  padding: 0 10px;
  transition: all .3s ease;
  z-index: 5;
}

.is-show {
  transform: translateY(0);
}

.contacts {
  position: relative;
  width: 100%;
  min-height: 100%;
  background-image: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.contacts nav .sp_nav_motion {
  top: 65px;
}

.contacts nav .g_nav {
  display: none;
}

.contacts nav .sp {
  display: block;
}

.contacts nav .sp img {
  width: 50px;
}

.contacts nav .sp_nav {
  box-shadow: 0 10px 25px 0 rgba(100, 100, 100, 0.5);
}

.contacts nav .sp_nav a {
  display: block;
}

.contacts nav .sp_nav .signin {
  display: none;
}

.contacts nav .sp_menu {
  display: block;
}

.cafe_local {
  grid-template-columns: repeat(2, 1fr);
}

.goto_text {
  top: 25;
  left: 25;
}

.goto_text h3 {
  font-size: 32px;
}

.goto_text p {
  font-size: 1.2rem;
}

#signin_box {
  width: 60%;
}

.contact_box {
  width: 90%;
}

@media screen and (max-width: 867px) {
  header h1.concept {
    font-size: 48px;
  }
  .goto_text {
    width: 100%;
  }
  .goto_text p {
    width: 100%;
  }
  .goto_text h3 {
    width: 100%;
  }
  footer {
    width: 100%;
    margin: 0 auto;
  }
  footer .nav_area {
    display: block;
  }
  footer .inner h2 {
    border-bottom: 1px solid #ccc;
    display: block;
  }
  .host .cafe_host {
    margin: 0 auto;
    display: block;
    column-gap: 15px;
  }
  .cafe_intro {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .img-flex4 {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  header h1.concept {
    font-size: 32px;
  }
  .cafe_intro {
    display: block;
  }
  .cafe_exp {
    grid-template-columns: repeat(2, 1fr);
  }
  .cafe_host {
    grid-template-columns: repeat(2, 1fr);
  }
  .goto_text {
    width: 100%;
  }
  .goto_text p {
    width: 100%;
  }
  .goto_text h3 {
    width: 100%;
  }
  #signin_box {
    width: 80%;
  }
  .contact_box {
    width: 98%;
  }
  .img-flex4 {
    width: 100%;
    margin: auto;
    display: block;
  }
}

.contact_box {
  width: 70%;
  margin: 5% auto;
  border-radius: 16px;
  border: 1px solid #ccc;
}

.contact_box form {
  margin: 3%;
}

.contact_box p {
  font-weight: normal;
}

.contact_box .required {
  color: red;
}

.contact_box h2 {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}

.contact_box h3 {
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eaeaea));
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  padding: 1%;
  margin: 1% 0;
}

.contact_box dl {
  margin: 2% 0;
}

.contact_box dd {
  padding: 0.5% 0 1%;
  font-size: 1.2rem;
}

.contact_box dd.error {
  padding: 0;
  color: red;
  font-size: 1rem;
}

.contact_box input {
  width: 100%;
  font-size: 1.2rem;
  padding: 10px 2.5px;
  border-radius: 8px;
  border: 1px solid #aaa;
}

.contact_box textarea {
  resize: none;
  width: 100%;
  height: 33vh;
  font-size: 1.2rem;
  padding: 10px 2.5px;
  border-radius: 8px;
  border: 1px solid #aaa;
}

.contact_box button {
  color: white;
  background-color: #d70466;
  width: 100%;
  font-size: 1.2rem;
  padding: 10px 2.5px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.contact_box .confirm dt {
  margin-top: 1rem;
  border-bottom: 1px solid #ccc;
}

.contact_box .confirm dd {
  padding: 1%;
}

.contact_box .confirm dd.confirm_btn {
  padding: 1% 0;
  display: flex;
  justify-content: space-between;
}

.contact_box .confirm dd.confirm_btn button {
  margin-right: 10px;
}

.contact_box .confirm dd.confirm_btn a {
  width: 100%;
  text-align: center;
  line-height: 40px;
  margin-left: 10px;
  background-color: transparent;
  border: 2px solid #066;
  border-radius: 8px;
  cursor: pointer;
  color: #066;
}

.db {
  width: 100%;
  margin: 5% auto;
}

.db table th, td {
  border: solid 1px black;
}

.complete_msg {
  padding: 3%;
}

.complete_msg a {
  display: block;
  margin-top: 10px;
  text-decoration: underline;
}

.edit textarea {
  resize: none;
  height: 33vh;
}
/*# sourceMappingURL=style.css.map */